@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border: 1px double black;
    height: 100px;
    align-items: center;
}

#Logo {
    border: 1px solid black;
    height: 50%;
    
}

li {
    list-style-type: none;
    border: 2px solid black;
    
}

i {
    color:black;
    margin-right: 5px;
}

ul{
    display: flex;
    border: 3px dotted black;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    
}

nav {
    width: 35%;
}

button {
    background-color: blueviolet;
    color: white;
    border-radius: 30px;
    height: 50px;
    width: 15;
    font-size: 16px;
    position: fixed;
    right: 0;
    bottom: 0;
    
    

    
}